<h1> Welcome </h1>
<% if @current_user %>
  <%= @current_user.username %>
<% else %>
  <button> log in </button>
<% end %>

<h3> Add a question </h3>

<%= form_for(@question) do |form| %>
	<%= form.text_area :question, placeholder: "Please type a question..." %> <br>
	<label><input type='radio' name='answer' value='true'>True</label><br>
	<label><input type='radio' name='answer' value='false'>False</label><br>
	<%= form.submit 'Submit Question'%>
<% end %>

