<h3> Here is your question </h3>

<%= form_tag check_path do |form|%>
	<%= @question.question %> <br>
	<label><input type='radio' name='answer' value='true'>True</label><br>
	<label><input type='radio' name='answer' value='false'>False</label><br>
	<input type='submit' value='Submit'>
<% end %>