<h1> Welcome </h1>

<form action='/question' method='post'> 
<p> <%= @question.question %></p>
<input type="radio" name="Answer" value="true">True<br>
<input type="radio" name="Answer" value="false">False
</form>