<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if @user
 %>
  <button>Log out</button>
<% else %>
  <button>Sign up</button>
  <button>Log in</button>
<% end %>
</header>

<%= yield %>

</body>
</html>
